.vwo-new-campaign {
    margin-top: 15px;
    text-align: center;
    padding-right: 10px;
}

.vwo-new-campaign-btn {
    background-color: #5E337B;
    color: white;
    font-size: 16px;
    border: none;
    height: 40px;
    width: 220px;
    cursor: pointer;
    margin-top: 10px;
}

.vwo-new-campaign-btn em {
    float: left;
    font-size: 32px;
    margin: 0 20px;
    line-height: 23px;
}

.vwo-new-campaign-btn p {
    text-align: left;
    line-height: 28px;
}

.vwo-campaign {
    display: flex;
    margin-bottom: 10px;
}

.vwo-campaign-pic-title {
    height: 40px;
    position: relative;
}

.vwo-campaign-pic {
    position: absolute;
    top: -11px;
    left: -9px;
    background-image: url('http://app.vwo.com/assets/icons/sprite/sprite.png');
    background-size: 451px 446px;
    width: 60px !important;
    height: 60px !important;
    transform: scale(0.6);
}

.vwo-ab-test .vwo-campaign-pic {
    background-position: 0px -279px;
}

.vwo-ab-test .vwo-campaign-title {
    color: #CC626F;
}

.vwo-split-test .vwo-campaign-pic {
    background-position: -189px -279px;
}

.vwo-split-test .vwo-campaign-title {
    color: #13B597;
}

.vwo-multi-test .vwo-campaign-pic {
    background-position: -279px -154px;
}

.vwo-multi-test .vwo-campaign-title {
    color: #FC6A41;
}

.vwo-campaign-title {
    position: absolute;
    font-size: 20px;
    top: 5px;
    left: 55px;
    font-family: "Open Sans", sans-serif;
}

.vwo-campaign-radio{
    flex: 0 0 3em;
}

.vwo-campaign-radio input {
    margin-top: 13px;
}

.vwo-campaign-desc {
    margin: 5px 0;
}

.vwo-campaign-desc p {
    text-align: left;
    font-family: "Open Sans", sans-serif;
    color: #777777;
}